- if ["other_outcomes", "other_incomes","operationals", "taxs", "fix_costs", "asset_values"].include? controller_name
  javascript:
    var ctxL = document.getElementById("graph").getContext('2d');
    var myLineChart = new Chart(ctxL, {
      type: 'line',
      data: {
        labels: gon.label,
        datasets: [
          {
            label: gon.graph_name,
            data: gon.data,
            backgroundColor: [
            'rgba(255, 206, 86, 0.1)',
            ],
            borderColor: [
            'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 2
          }
        ]
      },
      options: {
        responsive: true
      }
    });

- if ["bank_flows"].include? controller_name
      javascript:
        var ctxL = document.getElementById("graph").getContext('2d');
        var myLineChart = new Chart(ctxL, {
          type: 'line',
          data: {
            labels: gon.label,
            datasets: [
              {
                label: "Debit",
                data: gon.debit,
                backgroundColor: [
                'rgba(75, 192, 192, 0.2)',
                ],
                borderColor: [
                "rgb(75, 192, 192)",
                ],
                borderWidth: 2
              },
              {
                label: "Kredit",
                data: gon.kredit,
                backgroundColor: [
                'rgba(255, 99, 132, 0.1)',
                ],
                borderColor: [
                'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 2
              }

            ]
          },
          options: {
            responsive: true
          }
        });

- if ["modals"].include? controller_name
      javascript:
        var ctxL = document.getElementById("graph").getContext('2d');
        var myLineChart = new Chart(ctxL, {
          type: 'line',
          data: {
            labels: gon.label,
            datasets: [
              {
                label: "Penambahan",
                data: gon.debit,
                backgroundColor: [
                'rgba(75, 192, 192, 0.2)',
                ],
                borderColor: [
                "rgb(75, 192, 192)",
                ],
                borderWidth: 2
              },
              {
                label: "Penarikan",
                data: gon.kredit,
                backgroundColor: [
                'rgba(255, 99, 132, 0.1)',
                ],
                borderColor: [
                'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 2
              }

            ]
          },
          options: {
            responsive: true
          }
        });